odoo-addon-edi_oca @ git+https://github.com/thienvh332/edi-framework.git@refs/pull/6/head#subdirectory=edi_oca
odoo-addon-edi_account_oca @ git+https://github.com/thienvh332/edi-framework.git@refs/pull/7/head#subdirectory=edi_account_oca
odoo-addon-base_view_inheritance_extension @ git+https://github.com/OCA/server-tools.git@refs/pull/3100/head#subdirectory=base_view_inheritance_extension
odoo-addon-account_invoice_transmit_method @ git+https://github.com/thienvh332/account-invoicing.git@refs/pull/1/head#subdirectory=account_invoice_transmit_method
